<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengxin.mall" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:requestLegacyExternalStorage="true">


        <activity android:name=".ui.home.MallHomeActivity" />
        <activity android:name=".ui.detail.GoodsDetailActivity" />
        <activity android:name=".ui.settlement.SettleListActivity" />
        <activity android:name=".ui.pay.PayChannelActivity" />
        <activity android:name=".ui.order.MallOrderActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".ui.order.detail.OrderDetailActivity" />
        <activity android:name=".ui.transport.TransportActivity" />
        <activity android:name=".ui.saleout.AskForSaleActivity" />
        <activity android:name=".ui.saleout.SaleOutDetailActivity" />
        <activity android:name=".ui.saleout.AskSuccActivity" />
        <activity android:name=".ui.consult.ConsultActivity" />
        <activity android:name=".ui.saleout.WriteTransportActivity" />
        <activity android:name=".ui.address.WriteAddressActivity" />
        <activity android:name=".ui.address.AddressListActivity" />
        <activity android:name=".ui.search.SearchActivity"/>
        <activity android:name=".ui.car.ShoppingCarActivity"/>
    </application>
</manifest>
