<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hengxin.pickimg" >

    <application>
        <activity android:name=".PickerAlbumActivity"/>
        <activity android:name=".crop.CropImageActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hengxin.pickimg.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>
